/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  outline: 0;
}


body {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  height:100%;
  position: relative;

}



/* header */
header {
  background-color: #491bfd;
  color: #fff;
  height: 50vh;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

/* navigation bar starts */
.nav-item {
  margin-right: 10px 10%;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

.nav-item-active,
.nav-item:hover {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  font-weight: 400;
}

nav {
  display: none;
}


/* logo */
header div:first-of-type {
  width: 10%;
  position: absolute;
  top: 0;
  left: 0;

}

.logo {
  padding: 10px 20px;
  width: 100%;
}

/* header */
.header-text {
  width: 50%;
  margin-left: 8%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.header-text h2 {
  font-size: 2.3rem;
  font-weight: 600;
}

.header-text p {
  font-size: 1em;
}

/* Image */
header div:last-of-type img {
  filter: drop-shadow(.2rem .6rem 1rem rgba(0, 0, 0, 0.2));
  width: 30%;
  margin-left: auto;
  position: absolute;
  right: 0;
  top: 20%;
}

.header-image {
  width: 100%;
}


@media (min-width:1024px) {
  nav {
    position: absolute;
    top: 0;
    right: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
  }
}

@media (max-width:1024px) {

  .header-image {
    display: none;
  }

  .header-text {
    max-width: 100%;
    min-width: 70%;
  }

  .header-text h2 {
    font-size: 2rem;
    font-weight: 600;
  }

  .header-text p {
    font-size: 1em;
  }
}

@media (min-width:320px) and (max-width:768px) {
  header {
    height: 30vh;
  }
  .header-text h2 {
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
  }

  .header-text p {
    font-size: 0.5em;
  }
  .companies a{
    padding:  5px 10px;
  }
}


/* companies */
.companies {
  margin: 30px 0;
}

.companies a {
  text-decoration: none;
  margin-left: 30px;
  color: #000;
  font-family: "Righteous";
  padding: 10px 20px;
}



/* API */
.api {
  /* background-color: green; */
}

.cards {
  /* background-color: red; */
  padding: 10px 30px;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
  /* grid-template-columns: repeat(5,20%); */
}

.card {
  padding: 30px 10px;
}

.card:hover,
.card-active {
  background-color: #fff;
  box-shadow: .1rem .2rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 30px 10px;
}


/* blog section */
.blog-cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 2rem;
}

.blog-card {
  background-color: #fff;
  min-width: 30vh;
  width: 100%;
  border-radius: 40px 0 0 0;
  display: flex;
  flex-direction: row;
  position: relative;
  box-shadow: .2rem .6rem 1rem rgba(0, 0, 0, 0.2);
}
.blog-content{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 60%;
  margin: auto 2rem;
}
.blog-content h6{
  color: #491bfd;
}
.blog-content h6, .blog-content h3, .blog-content small{
  margin: auto 0;
}

.blog-bottom {
  position: absolute;
  bottom: -30px;
  right: 30%;
}

.blog-author {
  position: absolute;
  bottom: 5px;
  right: 0;
  width: 50%;
}
.blog-image {
  width: 50%;
}

.blog-image img {
  width: 100%;
}

.blog-image {
  float: right;
}

@media (max-width:900px) {
  .blog-cards{
    flex-direction: column;
  }
  .blog-content small{
    font-size: 0.7rem;
  }
  .blog-author{
    font-size: 0.7rem;
  }
}

/* faq section */
.faq-section {
  width: 100%;
  background-color: #E9EDFF;
  display: flex;
  height: 40vh;
}

.faq-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 20px;
}

.faq-content button {
  padding: 10px 20px;
  background-color: #5A31FC;
  border: none;
  border-radius: 10px;
  width: 25%;
}

.faq-content h2 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 40px;
}

.faq-content h4 {
  font-size: 0.6rem;
  font-weight: 100;
}

.faq-content h4:last-of-type {
  font-size: 1rem;
  font-weight: 300;
}

.faq-image {
  width: 50%;
  display: flex;
}

.faq-image img {
  width: 70%;
  margin-left: auto;
}

@media (max-width:900px)
{
  .faq-section{
    height:30vh;
  }
  .faq-image{
    display: none;
  }
  .faq-content {
    width: 100%;}
}


/* download */
.download-section {
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.download-content {
  font-weight: 800;
  font-size: 1rem;
}

.download-content span {
  font-weight: 100;
  font-size: 1rem;
}

.download-email form {
  display: flex;
  flex-direction: row;
  border: 1px solid grey;
  border-radius: 10px;
}

.download-email input {
  flex-grow: 2;
  border: none;
  background-color: #6f78c94d;
  border-radius: 10px;
}

.download-email input:focus {
  outline: none;
}

.download-email form button {
  border: none;
  background: #491bfd;
  color: #fff;
  border-radius: 10px;
  padding: 10px 25px;
}

::placeholder {
  text-align: center;
}

@media (max-width:728px)
{
  .download-section{
    flex-direction: column;
    height: 15vh;
  }
}

/* footer */
.footer-section {
  display: flex;
  background-color: #491bfd;
  height: 20vh;
  padding: 30px;
}

.footer-left {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.footer-left .list {
  display: flex;
  list-style: none;
}

.footer-left .list .list-items {
  color: #fff;
  margin-left: 20px;
  padding-left: 10px;
}

.footer-left .list li:nth-last-child(-n+3) {
  border-left: 2px solid #fff;
}

.footer-logo {
  width: 100px;
  margin-left: 30px;
}

.footer-section>.footer-right {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-right: 60px;
}

.footer-right div .footer-logos {
  margin: 0 13px;
}

.logos-list {
  display: flex;
  list-style: none;
}

.logos-list .list-items {
  margin: 0 10px;
}

@media (max-width:1024px) {
  .footer-section{
    height: 10vh;
  }
  .footer-section{
    flex-direction: column;
  }
  .footer-left{
    width: 100%;
    flex-direction: row;
  }
  .footer-section>.footer-right{
    width:100%;
    align-items: center;
  }
  .logos-list .list-items {
    margin: 0 0px;
  }
  .footer-left .list .list-items{
    margin-left: 5px;
    padding-left: 5px;
  }
}